{% extends "layouts/backend.html.twig" %}

{% block content %}

<form action="{{ url_for('admin.files.destroy', {}, {'path': path}) }}" method="post">
    {% if path %}
    <h2>Datei löschen</h2>
    <p>Soll die Datei <strong>{{ path }}</strong> wirklich gelöscht werden?</p>
    <div>
        <input type="submit" name="submit" value="Übernehmen" class="btn btn-danger" />
        <a href="{{ url_for('admin.files') }}" class="btn btn-link">Abbrechen</a>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Datei nicht vorhanden!
    </div>
    <a href="{{ url_for('admin.files') }}" class="btn btn-link">Zurück</a>
    {% endif %}
</form>
{% endblock %}
