/public/archiv/*
/public/pub/*
/config/app.php
/vendor/
/storage/logs
/storage/cache/twig
/storage/cache/doctrine
/storage/cache/routes
/storage/maintenance
/node_modules
/public/dist
.ftpquota
.env
.vscode/settings.json
.php-cs-fixer.cache
