ErrorDocument 401 /_error/index.php?e=401
ErrorDocument 403 /_error/index.php?e=403
ErrorDocument 404 /_error/index.php?e=404

Redirect /forum http://forum.etoa.ch/

Redirect /faq https://forum.etoa.ch/forum/board/358-fragen-und-antworten/
Redirect /wiki https://forum.etoa.ch/article-list/
Redirect /help https://forum.etoa.ch/forum/board/12-etoa-das-spiel/

Redirect /rules http://etoa.ch/regeln

Redirect /downloads http://etoa.ch/archiv
Redirect /zeitung http://etoa.ch/archiv/zeitung

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([-0-9a-z]*)$ index.php?page=$1 [L]
</IfModule>
