<!DOCTYPE html>
<html lang="de">

<head>
    <title>Administration | EtoA | Das Sci-Fi Browsergame</title>
    <meta name="author" content="EtoA Gaming" />
    <meta name="description" content="EtoA - Das kostenlose Sci-Fi Browsergame." />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{asset file='favicon.ico'}" type="image/x-icon" />
    <link rel="stylesheet" href="{asset file='public/css/admin.css'}">
</head>

<body>
    <div id="overall">
        <div id="header">
            <div id="logo" onclick="javascript: document.location.href='./';">
            </div>
            <div id="bar"></div>
        </div>
        <div id="main">
            <div id="menu">
                <div id="menu_top"></div>
                <div id="menu_center">
                    <b>Navigation</b><br />
                    {if $auth}
                    <a href="?page=home">Übersicht</a>
                    <a href="?page=serverinfo">Servermeldung</a>
                    <a href="?page=rounds">Runden</a>
                    <a href="?page=buttons">Buttons</a>
                    <a href="?page=adds">Werbung</a>
                    <a href="?page=script">Java-Script</a>
                    <a href="?page=texts">Texte</a>
                    <a href="?page=settings">Einstellungen</a>
                    {else}
                    <a href="?">Login</a>
                    {/if}
                </div>
                <div id="menu_bottom"></div>
            </div>
            <div id="content">
                <div>
                    {if $auth}
                    {if $title|default:'' != ''}<h1>{$title}</h1>{/if}
                    {if isset($error)}
                    <div class="messagebox">
                        <div class="error">{$error}</div>
                    </div>
                    {/if}
                    {$content|default:''}
                    {else}
                    <h1>Fehler</h1>
                    Nicht eingeloggt!<br /><br />
                    <input type="button" value="Neu einloggen" onclick="document.location='?page=$page'" />
                    {/if}
                </div>
            </div>
        </div>
        <div id="overallend">
        </div>
        <div id="footer">
            <div id="server">&copy; EtoA Gaming</div>
        </div>
    </div>
</body>

</html>
