<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EtoA - Das kostenlose Sci-Fi Browsergame." />
    <title>{% if title %}{{ title }} | {% endif %}Administration | EtoA | Das Sci-Fi Browsergame</title>

    <link rel="shortcut icon" href="{{ base_path() }}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ base_path() }}/dist/backend.css">
    <script src="{{ base_path() }}/dist/backend.js" defer></script>
</head>

<body>
    <div id="overall">
        <div id="header">
            <div id="logo" onclick="javascript: document.location.href='./';">
            </div>
            <div id="bar"></div>
        </div>
        <div id="main">
            <div id="menu">
                <div id="menu_top"></div>
                <div id="menu_center">
                    <b>Navigation</b><br />
                    <a href="{{ url_for('admin') }}">Übersicht</a>
                    <a href="{{ url_for('admin.servernotice') }}">Servermeldung</a>
                    <a href="{{ url_for('admin.rounds') }}">Runden</a>
                    <a href="{{ url_for('admin.texts') }}">Texte</a>
                    <a href="{{ url_for('admin.settings') }}">Einstellungen</a>
                </div>
                <div id="menu_bottom"></div>
            </div>
            <div id="content">
                <div>
                    {% if title %}
                    <h1>{{ title }}</h1>
                    {% endif %}
                    {% if error %}
                    <div class="messagebox">
                        <div class="error">{{ error | nl2br }}</div>
                    </div>
                    {% endif %}
                    {% if info %}
                    <div class="messagebox">
                        <div class="info">{{ info | nl2br }}</div>
                    </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="overallend">
        </div>
        <div id="footer">
            <div id="server">&copy; EtoA Gaming</div>
        </div>
    </div>
</body>

</html>
