<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EtoA - Das kostenlose Sci-Fi Browsergame." />
    <title>{% if title %}{{ title }} | {% endif %}Administration | EtoA | Das Sci-Fi Browsergame</title>

    <link rel="shortcut icon" href="{{ base_path() }}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ base_path() }}/dist/backend.css">
    <script src="{{ base_path() }}/dist/backend.js" defer></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('admin') }}">EtoA Login-Administration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav me-auto">
                    {% for item in nav %}
                    {% include "components/nav-item.html" with {'item': item} only %}
                    {% endfor %}
                </div>
                <div class="navbar-nav">
                    {% for item in nav2 %}
                    {% include "components/nav-item.html" with {'item': item} only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
    <div>
        <main class="container py-4">
            {% if title %}
            <h1>{{ title }}</h1>
            {% endif %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error | nl2br }}
            </div>
            {% endif %}
            {% if info %}
            <div class="alert alert-info" role="alert">
                {{ info | nl2br }}
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success | nl2br }}
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <div class="container border-top py-3 text-end">
            <small class="text-muted">&copy; {{ 'now' | date('Y') }} EtoA Gaming</small>
        </div>
    </footer>
</body>

</html>
