<!DOCTYPE html>
<html lang="de">

<head>
    <title>EtoA | Das Sci-Fi Browsergame | {$sitename} </title>
    <meta name="author" content="EtoA Gaming" />
    <meta name="description" content="EtoA - Das kostenlose Sci-Fi Browsergame." />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{asset file='favicon.ico'}" type="image/x-icon" />

    <link rel="stylesheet" href="{asset file='site/css/app.css'}">
    <script src="{asset file='site/js/app.js'}" defer></script>
    <script src="{asset file='site/js/fslightbox.js'}" defer></script>

    {$headerJs}
</head>

<body class="body">

    <div class="Table_01">
        <div class="Header_">
            {assign "header_img" "site/images/headers/{$page}.png"}
            <img alt="img" id="Header" src="{asset file=$header_img}" style="width:263px;height:45px" />
        </div>
        <div class="Scr-up_">
            <img alt="img" id="line_top" src="{asset file='site/images/line_top.gif'}" style="width:35px;height:36px" />
        </div>
        <div class="Line1_">
            <img alt="img" id="Line1" src="{asset file='site/images/Line1.gif'}" style="width:390px;height:20px" />
        </div>
        <div class="Line2_">
            <img alt="img" id="Line2" src="{asset file='site/images/Line2.gif'}" style="width:14px;height:608px" />
        </div>
        <div class="Line1009_">
            <img alt="img" id="Line1009" src="{asset file='site/images/Line1-09.gif'}" style="width:8px;height:600px" />
        </div>

        {$mainMenu}

        <div class="Votebanner_">
            {$votebanner}
        </div>

        <!-- Login -->
        <div class="login">
            {$gameLogin}
        </div>

    </div>

    <!-- Content -->
    <div id="divScrollTextCont">
        <div id="divText">
            <!-- {if $title|default:'' != ''}<h1>{$title}</h1>{/if} -->
            {$content}
        </div>
    </div>

    <div style="position:absolute;left:970px;top:35px;width:200px;">
        <div class="rightBoxLine"></div>
        <div class="rightBoxTitle">Aktuell</div>
        <div class="rightBoxLine"></div>
        <div class="rightBoxData" style="font-size:9pt;">{$infobox}</div>
        <div class="rightBoxLine"></div>
        <br /><br />

        <!-- Banner rechts anzeigen -->
        <div style="text-align:center;">{$adds}</div>
    </div>
    {$footerJs}
</body>

</html>
