@import "messagebox.css";

body {
    margin: 0;
    padding: 0;
    background-color: #858585;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #222222;
}

tr,
td {
    vertical-align: top;
    text-align: left;
}

a img {
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background: #eeeeee url(../images/admin/header.png) repeat-x top left;
}

#logo {
    margin: 0;
    padding: 0;
    width: 780px;
    height: 80px;
    background: url(../images/admin/logo.png) no-repeat top left;
    cursor: pointer;
}

#noCSS {
    display: none;
}

#bar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 23px;
    font-size: 0.9em;
    font-weight: bold;
    color: #eeeeee;
    text-align: center;
    margin-top: 2px;
}

#bar a,
#bar a:link {
    color: #eeeeee;
    text-decoration: none;
}

#bar a:hover {
    color: #00ccff;
    border-bottom: 1px dotted #00ccff;
}

#menu {
    width: 155px;
    float: left;
    font-size: 0.9em;
}

#menu_top {
    width: 155px;
    height: 30px;
    background: #f8f8f8 url(../images/admin/menu_top.jpg) no-repeat bottom left;
    margin: 0px;
}

#menu_center {
    margin: 0px;
    width: 146px;
    background: #f8f8f8 url(../images/admin/menu_center.jpg) repeat-y top left;
    padding-left: 8px;
}

#menu_bottom {
    width: 155px;
    height: 14px;
    background: #f8f8f8 url(../images/admin/menu_bottom.jpg) no-repeat top left;
}

#menu h1,
#menu h2,
#menu h3 {
    font-size: 1.1em;
    margin-top: 6px;
    margin-bottom: 2px;
}

#menu hr {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100px;
}

#menu a,
#menu a:link {
    display: block;
    color: #222222;
    text-decoration: none;
    padding-left: 1em;
    margin-right: 12px;
}

#menu a:hover {
    color: #00ccff;
    text-decoration: none;
    background-color: #f8f8f8;
    margin-right: 12px;
}

#content {
    margin: 0;
    padding: 0;
    padding-left: 165px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 0.9em;
    background-color: #f8f8f8;
}

#main {
    background-color: #f8f8f8;
}

#content h1 {
    margin: 6px;
    margin-left: 0px;
    text-align: left;
}

#content h2,
#content h3 {
    padding-left: 24px;
    background: transparent url(../images/admin/h3.png) no-repeat center left;
}

#content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content ul li {
    margin-left: 16px;
    padding-left: 18px;
    list-style: none;
    background: transparent url(../images/admin/li.png) no-repeat top left;
}

#content a,
#content a:link {
    color: #06469a;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

#content a:hover {
    color: #00ccff;
    background-color: #f8f8f8;
    text-decoration: none;
}

#overall {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: block;
}

#footer {
    position: absolute;
    left: 0px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

* html #footer {
    background: #f8f8f8;
}

#footer #server {
    padding-top: 4px;
    font-size: 0.8em;
    color: #000;
    text-align: center;
}

#footer #server a,
#footer #server a:link {
    color: #bb0000;
    border-bottom: 1px dotted #444444;
    text-decoration: none;
}

#footer #server a:hover {
    color: #444444;
    border-bottom: 1px solid #bb0000;
    text-decoration: none;
}

#footer #designer {
    padding-top: 12px;
    font-size: 0.8em;
    color: #cccccc;
    text-align: center;
}

#footer #designer a,
#footer #designer a:link {
    color: #bbbbbb;
    border-bottom: 1px dotted #bb0000;
    text-decoration: none;
}

#footer #designer a:hover {
    color: #bb0000;
    border-bottom: 1px solid #aaaaaa;
    text-decoration: none;
}

#overallend {
    min-height: 10px;
    clear: both;
}

#menu_buttons {
    width: 125px;
    text-align: center;
}

fieldset {
    margin-bottom: 10px;
    border: 1px solid #06469a;
}

legend {
    font-weight: bold;
    font-size: 11pt;
    padding: 3px;
    border: 1px solid #06469a;
}

.tbl {
    border-collapse: collapse;
}

.tbl td {
    background: #eef;
    border: #bbb solid 1px;
}

.tbl th {
    background: #dde;
    border: #bbb solid 1px;
}
