<form action="{$loginform.rnd}" method="post" id="loginform">
    <input type="text" name="{$loginform.nickField}" size="11" maxlength="100" autofocus />
    <input type="password" name="{$loginform.passwordField}" size="11" maxlength="100" />
    <select id="loginround" name="round">
        {% for round in rounds %}
        <option value="{{ round.url }}" {% if round.url==selectedRound %}selected="selected" {% endif %}>
            {{ round.name }}
        </option>
        {% endfor %}
    </select><br />
    <input class="btn-login_" type="submit" value=" " name="login" />
    <input type="hidden" name="token" value="{$loginform.logintoken}" />
</form>
