$primary: #2c2e58;

$container-max-widths: (
    sm: 540px,
    md: 650px,
);

@import "~bootstrap/scss/bootstrap";

.center-page {
    margin: 0 auto 0 auto;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
