{% extends "layouts/backend.html" %}

{% block content %}
<form action="{{ url_for('admin.rounds.store') }}" method="post">
    {% if rounds %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Startdatum</th>
                <th>Anzeigen</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            {% for round in rounds %}
            <tr>
                <td>
                    <input type="text" name="name[{{ round.id }}]" value="{{ round.name }}" class="form-control" />
                </td>
                <td>
                    <input type="url" name="url[{{ round.id }}]" value="{{ round.url }}" class="form-control" />
                </td>
                <td>
                    <input type="date" name="startDate[{{ round.id }}]"
                        value="{{ round.startDate | dateFromTimestamp }}" class="form-control" />
                </td>
                <td class="align-middle">
                    <label><input type="radio" name="active[{{ round.id }}]" value="1" {% if round.active==1 %} checked
                            {% endif %} class="form-check-input" /> Ja</label>
                    <label><input type="radio" name="active[{{ round.id }}]" value="0" {% if round.active==0 %} checked
                            {% endif %} class="form-check-input" /> Nein</label>
                </td>
                <td class="align-middle">
                    <input type="checkbox" name="delete[{{ round.id }}]" value="1" class="form-check-input" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" name="submit" value="Übernehmen" class="btn btn-primary" />
    {% else %}
    <div class="alert alert-info" role="alert">
        Keine Runden vorhanden!
    </div>
    {% endif %}
    <input type="submit" name="submit_new" value="Neue Runde" class="btn btn-primary" />
</form>
{% endblock %}
