{% extends "layouts/backend.html" %}

{% block content %}

<form action="{{ url_for('admin.servernotice.store') }}" method="post">
    {% for setting in settings %}
    <div>
        <label for="{{ setting.name }}">{{ setting.label }}</label><br>
        {% if setting.type == 'textarea' %}
        <textarea name="{{ setting.name }}" id="{{ setting.name }}" rows="10" cols="120" {% if setting.required %}
            required {% endif %}>{{ setting.value }}</textarea>
        {% else %}
        <input type="{{ setting.type }}" name="{{ setting.name }}" id="{{ setting.name }}" value="{{ setting.value }}"
            size="30" {% if setting.required %} required {% endif %} />
        {% endif %}
    </div>
    {% endfor %}
    <p><input type="submit" name="submit" value="Übernehmen" /></p>
</form>
{% endblock %}
