{% extends "layouts/backend.html" %}

{% block content %}
<form action="{{ url_for('admin.settings.store') }}" method="post">
    <div class="row g-4 mb-4">
        {% for setting in settings %}
        <div class="col-md-6 col-xl-4">
            <label for="{{ setting.name }}">{{ setting.label }}</label><br>
            {% if setting.type == 'textarea' %}
            <textarea name="{{ setting.name }}" id="{{ setting.name }}" rows="10" class="form-control" {% if
                setting.required %} required {% endif %}
                placeholder="{{ setting.placeholder }}">{{ setting.value }}</textarea>
            {% else %}
            <input type="{{ setting.type }}" name="{{ setting.name }}" id="{{ setting.name }}"
                value="{{ setting.value }}" placeholder="{{ setting.placeholder }}" class="form-control" {% if
                setting.required %} required {% endif %} />
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        <input type="submit" name="submit" value="Übernehmen" class="btn btn-primary" />
    </div>
</form>
{% endblock %}
