<?PHP

///////////////////////////////////////////////////////////////
//////////////       MYSQL - Connection Data          /////////
///////////////////////////////////////////////////////////////

$db_access['server'] = "localhost";
$db_access['db'] = "dysignch_etoa";
$db_access['user'] = "dysignch_etoa";
$db_access['pw'] = "choose_pw";
