<h2>Neues aus dem Forum</h2>
{% if forum.users_online is defined %}
<span style="color:#0f0;font-size:9pt;">{{ forum.users_online }} Leute online</span>
{% else %}
<span style="color:#f00;font-size:9pt;">Status nicht verfügbar</span>
{% endif %}

{% if forum.posts is defined %}
<div id="forum">
    <ul id="forumthreadlist">
        {% for post in forum.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.topic }}</a>
            <span style="color:#aaa;font-size:80%">{{ post.time | diffForHumansFromTimestamp }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>Die letzten Beiträge sind zurzeit nicht verfügbar.</p>
{% endif %}

{% if server_notice %}
<br />
<div
    style="border: 1px solid {{ server_notice.color }}; padding: 4px; background: #223; color: {{ server_notice.color }}">
    {{ server_notice.message | bbcode }}
    <br />
    <div style="margin-top:5px;font-size:8pt;">
        Aktualisiert: {{ server_notice.updated | localDateTimeFormatFromTimestamp }}
    </div>
</div>
{% endif %}
