body {
    background: #000 url('../images/background.jpg') no-repeat 0px 20px;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #eee;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #ccc;
    text-decoration: underline;
    font-weight: bold;
}

a img {
    border: none;
}

#divText input[type="button"],
#divText input[type="submit"] {
    background: #000 url('../images/box_title.jpg') repeat-x;
    font-weight: bold;
    color: #fff;
    border: #777 1px solid;
    padding: 5px;
}

#divText input[type="button"]:hover,
#divText input[type="submit"]:hover {
    border: #fff 1px solid;
    color: #777;
}

div.Table_01 {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 276px;
    height: 600px;
}

div.Header_ {
    position: absolute;
    left: 686px;
    top: 15px;
    width: 263px;
    height: 45px;
}

div.Scr-up_ {
    position: absolute;
    left: 949px;
    top: 15px;
    width: 35px;
    height: 36px;
}

div.Line1_ {
    position: absolute;
    left: 296px;
    top: 40px;
    width: 390px;
    height: 20px;
}

div.Line2_ {
    position: absolute;
    left: 949px;
    top: 51px;
    width: 14px;
    height: 608px;
}

div.divScrollTextCont {
    position: absolute;
    left: 233px;
    top: 60px;
    width: 438px;
    color: #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

div.Line1009_ {
    position: absolute;
    left: 941px;
    top: 59px;
    width: 8px;
    height: 600px;
}

.tbldata {
    font-size: 9pt;
    color: #0099ff;
    border: 0px solid #fff;
    width: 161px;
    height: 14px;
    background-color: #000000;
}

#divScrollTextCont {
    position: absolute;
    left: 303px;
    top: 80px;
    width: 638px;
    color: #ffffff;
}

#divText {
    position: absolute;
    left: 0px;
    top: 1px;
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

.btn-login_ {
    position: absolute;
    left: 93px;
    top: 135px;
    width: 104px;
    height: 19px;
    border: 0px solid #fff;
    background-image: url(../images/btn_login.gif);
    background-repeat: no-repeat;
}

.btn-login_:hover {
    background-image: url(../images/btn_login-over.gif);
}

.btn-login_:active {
    background-image: url(../images/btn_login-down.gif);
}

div.login {
    text-align: left;
    vertical-align: middle;
    padding-bottom: 10px;
}

form#loginform input[type="text"] {
    position: absolute;
    left: 95px;
    top: 61px;
    width: 159px;
    height: 15px;
    color: #ffffff;
    border: 0px solid #fff;
    background-image: url(../images/txt_name.gif);
    background-repeat: no-repeat;
}

form#loginform input[type="password"] {
    position: absolute;
    left: 95px;
    top: 87px;
    width: 159px;
    height: 15px;
    color: #ffffff;
    border: 0px solid #fff;
    background-image: url(../images/txt_pw.gif);
    background-repeat: no-repeat;
}

#loginround {
    position: absolute;
    left: 95px;
    top: 114px;
    width: 140px;
    height: 15px;
    color: #ffffff;
    border: 0px;
    background: #212121;
}

h1 {
    font-size: 13pt;
    padding: 0px 0px;
    margin: 10px 0px 8px 0px;
}

h2 {
    font-size: 11pt;
    padding: 0px 0px;
    margin: 0px;
}

.boxTitle {
    color: #fff;
    width: 620px;
    background: #225 url("../images/box_title.jpg") repeat-x;
    padding: 4px;
    font-weight: bold;
}

.rightBoxTitle {
    color: #fff;
    width: 200px;
    background: #225 url("../images/box_title.jpg") repeat-x;
    padding: 4px;
    font-weight: bold;
}

.boxData {
    color: #fff;
    width: 616px;
    background: #223 url("../images/box_data.jpg") repeat-x;
    padding: 8px 4px 8px 8px;
}

.rightBoxData {
    color: #fff;
    width: 200px;
    background: #223 url("../images/box_data.jpg") repeat-x;
    padding: 8px 4px 8px 4px;
}

.boxLine {
    width: 620px;
    height: 8px;
    background: #000 url("../images/hline.gif") repeat-x;
    padding: 0px 8px 0px 0px;
}

.rightBoxLine {
    width: 200px;
    height: 8px;
    background: #000 url("../images/hline.gif") repeat-x;
    padding: 0px 8px 0px 0px;
}

.subtitle {
    font-weight: 500;
    font-size: 8pt;
}

input,
select,
textarea {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.Votebanner_ {
    text-align: center;
    position: absolute;
    left: 16px;
    top: 615px;
    width: 109px;
    height: 58px;
    color: #ffffff;
    text-indent: 3px;
    background-repeat: no-repeat;
}

table.faq {
    border-collapse: collapse;
    width: 100%;
}

table.faq th,
table.faq td {
    font-size: 9pt;
    text-align: left;
    vertical-align: top;
    padding: 2px;
    margin: 0px;
    color: #fff;
}

tr.d0 td {
    background-color: #337;
}

tr.d1 td {
    background-color: #335;
}

tr.d0 th {
    background-color: #225;
}

tr.d1 th {
    background-color: #223;
}

#mainMenu {
    position: absolute;
    left: 5px;
    top: 250px;
    width: 180px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mainMenu li {
    margin: 0;
    padding: 0;
}

#mainMenu a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    padding: 0px 0px 0px 28px;
    margin: 0;
    color: #b1b3d1;
    background: none;
}

#mainMenu a:hover,
#mainMenu a.current {
    display: block;
    text-decoration: none;
    font-size: 9pt;
    color: #fff;
    background: url('../images/bullet_nav.gif') no-repeat;
}

#mainMenu img.hline {
    padding: 2px 0px 2px 25px;
    height: 6px;
    width: 140px;
    margin: 0;
}

#forumthreadlist,
#helplist {
    margin: 10px 0;
    padding-left: 20px;
}

.generateTime {
    font-size: 7pt;
    color: #777;
}
