{% extends "layouts/frontend_ng.html" %}

{% block content %}

<div class="my-4 container">
    <div class="mb-4 text-center">
        <img src="{{ base_path() }}/images/logo.png" alt="Logo" style="max-width: 300px" />
    </div>

    {% for item in blocks %}
    {% if item.heading %}
    <h2 class="display-4 text-light mb-4">{{ item.heading }}</h2>
    {% endif %}
    <div class="card text-bg-dark mb-4">
        <div class="card-body">
            {{ item.content | raw }}
        </div>
    </div>
    {% endfor %}

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link link-light" href="{{ url_for('ng.home') }}">&laquo; Zurück zum Login</a>
        </li>
    </ul>

</div>


{% endblock %}
