{% extends "layouts/frontend_ng.html" %}

{% block content %}

<div class="p-4">
    <div class="mb-4">
        <img src="{{ base_path() }}/images/logo.png" alt="Logo" style="max-width: 300px" />
    </div>

    {% if rounds %}
    <div class="card text-bg-dark mb-4">
        <div class="card-body">
            <form action="{{ rounds[0].url }}" method="post" id="loginform">
                <div class="form-floating mb-3">
                    <input type="text" name="{{ loginform.nickField }}" id="nickInput" autofocus
                        class="form-control text-bg-dark" placeholder="Benutzername" />
                    <label for="nickInput">Benutzername</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="{{ loginform.passwordField }}" id="passwordInput"
                        class="form-control text-bg-dark" placeholder="Passwort" />
                    <label for="passwordInput">Passwort</label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-text text-bg-dark">Runde</div>
                        <select id="loginround" name="round" class="form-select text-bg-dark">
                            {% for round in rounds %}
                            <option value="{{ round.url }}" data-register-url="{{ round.register_url }}">
                                {{ round.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Login" name="login" class="btn btn-primary" />
                    <input type="hidden" name="token" value="{{ loginform.logintoken }}" />
                </div>
            </form>
            <hr>
            <div class="text-center">
                <a href="{{ rounds[0].register_url }}" class="card-link link-light">Registrieren</a>
                <a href="{{ rounds[0].password_recovery_url }}" class="card-link link-light">Passwort anfordern</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">Es sind keine aktiven Runden vorhanden.</div>
    {% endif %}

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link link-light" href="{{ url_for('ng.about') }}">Über EtoA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{{ forumUrl }}">Forum</a>
        </li>
        {% if discordUrl %}
        <li class="nav-item">
            <a class="nav-link link-light" href="{{ discordUrl }}">Discord</a>
        </li>
        {% endif %}
    </ul>

</div>


{% endblock %}
