{% extends "layouts/backend.html" %}

{% block content %}

<form action="{{ url_for('admin.texts.update', { 'id': text.id }) }}" method="post">
    {% if text %}
    <h2>{{ text.name }}</h2>
    <textarea name="content" rows="28" cols="100" required>{{ text.content }}</textarea>
    <p><input type="submit" name="submit" value="Übernehmen" />
        <a href="{{ url_for('admin.texts') }}">Zurück</a>
    </p>
    {% else %}
    <i>Text nicht vorhanden!</i><br /><br />
    <a href="{{ url_for('admin.texts') }}">Zurück</a>
    {% endif %}
</form>
{% endblock %}
