{% extends "layouts/backend.html" %}

{% block content %}
{% if texts %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Text</th>
            <th>Schlüsselwort</th>
            <th>Letzte Änderung</th>
        </tr>
    </thead>
    <tbody>
        {% for text in texts %}
        <tr>
            <td><a href="{{ url_for('admin.texts.edit', { 'id': text.id }) }}">{{ text.name }}</a></td>
            <td>{{ text.keyword }}</td>
            <td>{{ text.lastChanges | localDateTimeFormatFromTimestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    Keine Texte vorhanden!
</div>
{% endif %}
{% endblock %}
