{% extends "layouts/backend.html" %}

{% block content %}
{% if texts %}
<div class="list-group">
    {% for text in texts %}
    <a href="{{ url_for('admin.texts.edit', { 'id': text.id }) }}" class="list-group-item list-group-item-action"
        aria-current="true">
        <div class="d-sm-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ text.name }}</h5>
            <small>{{ text.lastChanges | localDateTimeFormatFromTimestamp }}</small>
        </div>
        <p class="mb-1">{{ text.keyword }}</p>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info" role="alert">
    Keine Texte vorhanden!
</div>
{% endif %}
{% endblock %}
