{% extends "layouts/backend.html.twig" %}

{% block content %}
{% if texts %}
<div class="list-group">
    {% for key, text in texts %}
    <a href="{{ url_for('admin.texts.edit', { 'key': key }) }}" class="list-group-item list-group-item-action"
        aria-current="true">
        <div class="d-sm-flex w-100 justify-content-between align-items-center">
            <h5 class="mb-1">{{ text.name }}</h5>
            <small>
                {% if text.lastChanges %}
                <strong>Letzte Änderung:</strong>
                {{ text.lastChanges | localDateTimeFormatFromTimestamp }}
                {% endif %}
            </small>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info" role="alert">
    Keine Texte vorhanden!
</div>
{% endif %}
{% endblock %}
