@charset "utf-8";

@import "messagebox.css";

body {
    margin: 0;
    padding: 0;
    background-color: #858585;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #222222;
}

tr,
td {
    vertical-align: top;
    text-align: left;
}

a img {
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background: #eeeeee url(../images/help/header.png) repeat-x top left;
}

#logo {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 80px;
    background: url(../images/help/logo.png) no-repeat top left;
    cursor: pointer;
}

#bar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 23px;
    font-size: 0.9em;
    font-weight: bold;
    color: #eeeeee;
    text-align: center;
    margin-top: 2px;
}

#bar a,
#bar a:link {
    color: #eeeeee;
    text-decoration: none;
}
#bar a:hover {
    color: #00ccff;
    border-bottom: 1px dotted #00ccff;
}
#sidemenu {
    width: 180px;
    float: left;
    font-size: 0.9em;
}

.menu_box {
    padding: 17px 10px 22px 8px;
    margin: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
    width: 146px;
    background: #dddddd;
    border: 0px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu h1,
#menu h2,
#menu h3 {
    font-size: 1.1em;
    margin-top: 6px;
    margin-bottom: 2px;
}
#menu hr {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100px;
}
#menu a,
#menu a:link {
    display: block;
    color: #222222;
    text-decoration: none;
    padding-left: 1em;
    margin-right: 12px;
}
#menu a:hover {
    color: #00ccff;
    text-decoration: none;
    background-color: #f8f8f8;
    margin-right: 12px;
}

#tags {
    padding-left: 5px;
    margin-top: 10px;
}

#loginbox a {
    color: #06469a;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
#loginbox a:hover {
    color: #00ccff;
    background-color: #f8f8f8;
    text-decoration: none;
}

#tags a {
    color: #06469a;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
#tags a:hover {
    color: #00ccff;
    background-color: #f8f8f8;
    text-decoration: none;
}

#content {
    margin: 0;
    padding: 0;
    margin-left: 190px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 0.9em;
    background-color: #f8f8f8;
}

#main {
    margin-top: 20px;
    background-color: #f8f8f8;
}

#content h1 {
    margin: 6px;
    margin-left: 0px;
    text-align: left;
    font-weight: normal;
    font-family: verdana, geneva, sans-serif;
}

#content h2,
#content h3 {
    padding-left: 24px;
    font-family: verdana, geneva, sans-serif;
    font-weight: normal;
    background: transparent url(../images/help/h3.png) no-repeat center left;
}

#content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content ul li {
    margin-left: 16px;
    padding-left: 18px;
    list-style: none;
    background: transparent url(../images/help/li.png) no-repeat top left;
}

#content a,
#content a:link {
    color: #06469a;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

#content a:hover {
    color: #00ccff;
    background-color: #f8f8f8;
    text-decoration: none;
}

#overall {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: block;
}

#footer {
    position: absolute;
    left: 0px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

* html #footer {
    background: #f8f8f8;
}

#footer #server {
    padding-top: 4px;
    font-size: 0.8em;
    color: #000;
    text-align: center;
}

#footer #server a,
#footer #server a:link {
    color: #bb0000;
    border-bottom: 1px dotted #444444;
    text-decoration: none;
}

#footer #server a:hover {
    color: #444444;
    border-bottom: 1px solid #bb0000;
    text-decoration: none;
}

#footer #designer {
    padding-top: 12px;
    font-size: 0.8em;
    color: #cccccc;
    text-align: center;
}

#footer #designer a,
#footer #designer a:link {
    color: #bbbbbb;
    border-bottom: 1px dotted #bb0000;
    text-decoration: none;
}

#footer #designer a:hover {
    color: #bb0000;
    border-bottom: 1px solid #aaaaaa;
    text-decoration: none;
}

#overallend {
    min-height: 10px;
    clear: both;
}

#menu_buttons {
    width: 125px;
    text-align: center;
}

fieldset {
    margin-bottom: 10px;
    border: 1px solid #06469a;
}

legend {
    font-weight: bold;
    font-size: 11pt;
    padding: 3px;
    border: 1px solid #06469a;
}

ul#faqmenu {
    list-style-type: none;
    margin: 20px 0px 5px 0px;
    padding: 0 0 6px 0;
    border: none;
    border-bottom: 1px solid #999999 !important;
    width: 750px;
}

ul#faqmenu li {
    background: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

ul#faqmenu li a {
    background: none;
    padding: 6px 10px;
    margin: 0px 6px;
    text-decoration: none;
    border: 1px solid #f8f8f8 !important;
    border-bottom: 1px solid #999999 !important;
    font-size: 10pt;
}

ul#faqmenu li a.current {
    color: black;
    font-weight: bold;
    border: 1px solid #999999 !important;
    border-bottom: 1px solid #f8f8f8 !important;
}

ul#faqmenu li a:hover {
    color: black;
    border: 1px solid #999999 !important;
    border-bottom: 1px solid #f8f8f8 !important;
}

.faqtable {
    border-collapse: collapse;
    width: 750px;
}

.faqtable td {
    border-bottom: 1px solid #999999;
    padding: 4px 4px;
    vertical-align: middle;
}

.faqtable .center {
    text-align: center;
}

.faqtable .hasAnswers {
    color: #71a311;
}

.faqtable .correctAnswer .hasAnswers {
    color: #fff;
}

.faqtable .noAnswers {
    color: #a52211;
}

.faqtable .manyViews {
    color: #b6567a;
}

.faqtable .notManyViews {
    color: #777;
}

.faqtable .correctAnswer {
    background: #71a311;
}

.faqtable .answerbox {
    padding: 4px;
}

.faqtable .stats {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    line-height: 14pt;
    font-family: arial;
}

.faqtable .desc {
    font-size: 8pt;
    line-height: 8pt;
    font-weight: normal;
}

.faqtable .question {
    font-family: "Trebuchet MS", "Liberation Sans", "DejaVu Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: none !important;
    text-decoration: none !important;
}

.faqtable .date {
    font-size: 10pt;
    float: right;
}

.faqtable .questionoutline {
    padding-left: 10px;
}

.questiontextbox {
    width: 500px;
    float: left;
}

.questiondetailsbox {
    margin-left: 30px;
    width: 220px;
    float: left;
    font-size: 10pt;
}

.questiondetailsbox h3:first-child {
    margin-top: 0;
}

h2.faqquestiontitle,
.questiondetailsbox h2,
.questiondetailsbox h3,
.questiontextbox h2,
.questiontextbox h3,
.indextable h3 {
    background: none !important;
    padding-left: 0 !important;
}

h2.faqquestiontitle {
    width: 750px;
}

.clearer {
    clear: both;
}

ul.similarquestions {
    list-style-type: none !important;
}

ul.similarquestions li {
    margin: 5px 0 !important;
    padding: 0 !important;
    background: none !important;
    font-size: 10pt;
}

.faqanswer {
    padding: 0px 0px 15px 0px;
}

.faqanswercontainer {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    padding-top: 10px;
}

.faqanswerinfo {
    color: #777;
    font-size: 80%;
    text-align: right;
}

.answerinfo_tools {
    float: left;
    margin-left: 10px;
}

.answerinfo_author {
    float: right;
}

.faqquestionvote {
    float: left;
    width: 40px;
    text-align: center;
}

.faqquestiondesc,
.faqanswer {
    float: left;
    width: 450px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.faqvotes {
    color: #999999;
    font-weight: bold;
    font-size: 18pt;
    padding: 2px 0px 4px 0px;
}

.faqquestionvote a {
    border: none !important;
}

.faquseravatar {
    padding-right: 15px;
}

.faquserlist {
    border-collapse: collapse;
}

.faquserlist th {
    padding: 1px 5px;
    font-weight: normal;
}

.faquserlist td {
    vertical-align: middle;
    padding: 1px 5px;
    border: 1px solid #bbb;
}

.faquserlist td.avatar img {
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
}

.faquserlist td.avatar {
    width: 40px;
    height: 42px;
    background: white;
}

.faquserlist td.num {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    line-height: 14pt;
    font-family: arial;
    color: #888;
}

.faquserprofilebignum {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    line-height: 14pt;
    font-family: arial;
    color: #888;
    padding: 4px 20px 4px 5px;
    vertical-align: middle;
    width: 50px;
}

.indextable {
    width: 800px;
}

.indextable td {
    width: 33%;
    text-align: center;
    padding-bottom: 30px;
}

.indextable a {
    border: none !important;
}
