{% extends "../layouts/frontend.html.twig" %}

{% block site_title %}{{ site_title|default(title) }}{% endblock %}

{% block content %}
<br />
<div class="boxLine"></div>
<div class="boxTitle">{{ title }}</div>
<div class="boxLine"></div>
<div class="boxData">
    {% block main %}{% endblock %}
</div>
<div class="boxLine"></div>
{% endblock %}
