{% extends "layouts/frontend.html" %}

{% block site_title 'News' %}
{% set header_img = 'news.png' %}

{% block content %}

<h1>Herzlich willkommen zu Escape to Andromeda!</h1>
<div class="boxLine"></div>
<div class="boxTitle">
    <h2>Über das Spiel</h2>
</div>
<div class="boxLine"></div>
<div class="boxData">
    {{ text|raw }}
</div>
<div class="boxLine"></div>
<br />

<h1>News</h1>
{% if news is not null %}
{% if news %}
{% for thread in news %}
<div class="boxLine"></div>
<div class="boxTitle">
    <img src="{{ base_path() }}/images/logo_mini.gif" alt="Logo Mini"
        style="width:53px;height:30px;float:left;margin-right:10px;" />
    {{ thread.prefix }}
    <a href="{{ thread.url }}">{{ thread.topic }}</a>
    {% if thread.closed %}
    &nbsp; <span style="color:#0f0;">Abgeschlossen ({{ thread.last_post_time | localDateTimeFormatFromTimestamp
        }})</span>
    {% endif %}
    <br /><span class="subtitle">{{ thread.time | localDateTimeFormatFromTimestamp }} von
        <a href=" {{ thread.autor_url }}">{{ thread.author }}</a>
        {% if thread.updated_at %}
        (Letzte Änderung: {{ thread.updated_at | localDateTimeFormatFromTimestamp }}
        {% endif %}
    </span>
</div>
<div class="boxLine"></div>
<div class="boxData"> {{ thread.message | raw }}
    <div style="color:#fb0;font-size:9pt;margin-top:10px;">
        <a style="color:#fb0;" href="{{ thread.url }}">
            {% if thread.replies %}
            {{ thread.replies }} Kommentare vorhanden
            {% else %}
            Kommentiere diese Nachricht
            {% endif %}</a>
    </div>
</div>
<div class="boxLine"></div><br /><br />
{% endfor %}
<p>Alle älteren News findest du <a href="{{ board_url }}">hier</a></p>
{% else %}
<p class="loginmsg"><i>Keine News vorhanden!</i></p>
{% endif %}
{% else %}
<p class="loginmsg"><i>Der Newsfeed ist momentan nicht verfügbar!</i></p>
{% endif %}

{% endblock %}
