{% extends "layouts/site.html" %}

{% block site_title %}{{ site_title|default(title) }}{% endblock %}

{% block content %}
<br />
<div class="boxLine"></div>
<div class="boxTitle">{{ title }}</div>
<div class="boxLine"></div>
<div class="boxData">
    <div>
        {% for item in items %}
        <a href="{{ base_path() }}{{ item.url }}" data-fslightbox="gallery" data-caption="{{ item.name }}">
            <img src="{{ base_path() }}{{ item.thumb_url }}" style="width:250px;height:187px;" alt="{{ item.name }}"
                title="{{ item.name }}" /></a>
        {% endfor %}
    </div>
</div>
<div class="boxLine"></div>
{% endblock %}
