<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | EtoA | Das Sci-Fi Browsergame</title>

    <link rel="shortcut icon" href="{{ base_path() }}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ base_path() }}/dist/error.css">
    <script src="{{ base_path() }}/dist/error.js" defer></script>
</head>

<body>
    <div class="logo">
        <p><img src="{{ base_path() }}/images/logo.png" alt="logo" /></p>
    </div>
    <div class="message">
        <h1>
            {{ title }}
        </h1>
        <p>
            {{ description }}
        </p>
    </div>
    <div class="links">
        <ul>
            <li><a href="{{ url_for('home') }}">Startseite</a></li>
            <li><a href="{{ forumUrl }} ">Forum</a></li>
            <li><a href="javascript:history.back();">Zurück zur vorherigen Seite</a></li>
        </ul>
    </div>
</body>

</html>
