<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wartungsmodus</title>
    <link rel="stylesheet" href="{{ base_path() }}/css/maintenance.css">
</head>

<body>
    <main class="container">
        <p>
            <img src="{{ base_path() }}/images/maintenance.jpg" style="width: 700px" alt="Maintenance" />
        </p>
        <h2>Die Etoa-Loginseite ist momentan im Wartungsmodus!</h2>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <p>Bitte schau später vorbei oder besuche unser <a href="{{ forumUrl }}">Forum</a>.</p>
    </main>
</body>

</html>
